.footer{
    width: 100%;
    background:  #464646;
    margin: 0px;
    color: white;
    display: flex;
    flex-direction: column;

}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px;
    
}
.footer-section>h4{
    margin: 20px 0px;
    padding: 0px 80px;
}
.footer-section>div{
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
    
}
.footer-section>div>div{
   font-size: 18px;
    
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social>h4{
    margin: 20px 0px;
}
.footer-social>div{
    display: flex;
    justify-content: center;
    width: 100%;
      margin: 0px 0px 20px 0px ;
}
.footer-social>div:last-child{
   align-items: center;
}
.footer-social>div>img{
    margin: 0px 10px;
    cursor: pointer;
}
.footer-social>div>a{
    padding: 0px 10px;
}
.footer-social input{
    width: 100%;
    padding:6px 0px 6px 15px;
    outline: none;
    border: 1px solid #707070;
    background: #707070;
    border-radius: 20px;
    color: white;
}
::placeholder {
    color: #B2B1AF;
    opacity: 1;
  }
  .footer-social span{
    position: absolute;
    right: 0px;
    width: 50px;
    height: 38px;
    background-color: #E73528;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #E73528;
text-align: center;
line-height: normal;
cursor: pointer;
}

.footer>div:first-child{
    margin: 0px;
    width: 100%;
}

.footer>div:last-child{
    background: #363434;
    height: 40px;
    color:white;
    width: 100%;
    padding: 10px;
}
.footer a{
    color: #F0EEEB !important
}
.footer a:hover{
    color: #E73528 !important
}
@media screen and (max-width:992px){
    .footer-section>div{
      align-items: center;
    }
    .footer-section{
        align-items: center;
        
        
    }

}