.home-welcome{
    width: 100%;
    height: 280px;
    /* background-size: contain !important; */
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% 280px !important;
    background-position: 0px 70px !important;
    position: relative;
    margin-bottom: 11px;
  }
  .home-map{
      width: 100%;
      padding: 0px 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 20px;
  }
  .home-map>div{
      width: 200px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      font-size: 18px;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      margin: 11px 2px;
      cursor: pointer;
      position: relative;
  }
  .home-map>div::before{
content: "";
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: #7DAF3F;
display: none;
  }
  .home-map>div:hover::before{
      display: block;
  }
  .home-map>div>p{
      margin: 0px;
      text-align: center;
      position: absolute;
  }
  .config{
      width: 80%;
      background-color: #653D36;
      display: grid;
      grid-template-columns: 25% 65% 10%;
      margin-left: 10%;
      padding: 33px 0px;
      position: relative;
      transition: all 0.4s ;
      margin-bottom: 140px;
      overflow: hidden;
      cursor: pointer;
  }
  .config>div:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 20%;
  }
  .config>div:nth-child(1)>img{
      width: 70px;
      height: 46px;
  }
  .config>div:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 5%;
}
.config>div:nth-child(2)>h3{
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 600;

}
.config>div:nth-child(2)>p{
    color:#FFFFFF;
    font-size: 20px;
    margin: 0px;
    
}
.config>div:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
}
.img-green{
position: absolute;
left: 0px;
bottom:  0px;
height: 100%;
}
.img-brown{
    position: absolute;
    left: 0px;
    bottom:  0px;
    height: 100%;
    display: none;
    }
.config:hover{
    background-color: #7DAF3F;
}
.config:hover.img-green{
    display: none;
}
.config:hover .img-brown{
    display: block;
    }
.config:hover>div:nth-child(3){
transform: translateX(15%);
}
.realisation{
    width: 90%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 27% 73%;
    position: relative;
}
.realisation>div:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    height: 560px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.realisation>div:nth-child(2)>img{
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.realisation>div:nth-child(2)>img:nth-child(2){
    position: absolute;
    width: 42px;
    height: 62px;
    display: none;
    transition: all 0.5s;
}
.realisation>div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
}
.realisation>div:nth-child(1)>h2{
    font-size: 33px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 16px;
}
.realisation>div:nth-child(3){
position: absolute;
background-color: #FFFFFF;
z-index: 1;
left: 0px;
top: 95px;
width: 37%;
padding: 45px 48px 62px 37px;
height: 425px;
transition: all 0.4s;
}
.realisation>div:nth-child(3)>h3{
    font-size: 25px;
    color: #1F1F1F;
    font-weight: 600;
    margin-bottom: 30px;
}
.realisation>div:nth-child(3)>p{
    font-size: 14px;
    color: #504E4E;
    line-height: 25px;
    margin-bottom: 75px;
    height: -webkit-fill-available;
    overflow: hidden;
}
.realisation>div:nth-child(3)>div:nth-child(3){
    position: absolute;
    border: 1px solid #E2E2E2;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 124px;
    height: 62px;
    background: #FFFFFF;
    }
    .realisation:hover>div:nth-child(3)>div:nth-child(3){
display: none;
    }
    .realisation>div:nth-child(3)>div i{
        font-size: 25px;
        color:#1F1F1F
    }
    .realisation>div:nth-child(3)>div:nth-child(4){
        position: absolute;
        border: 1px solid #E2E2E2;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 62px;
        opacity: 0;
        overflow: hidden;
        background: #FFFFFF;
        }
        .realisation:hover>div:nth-child(3)>div:nth-child(4){
            opacity: 1;
            overflow: visible;
        }
        .realisation>div:nth-child(3)>div:nth-child(4) i{
            font-size: 25px;
            color:#1F1F1F
        }
        .realisation:hover>div:nth-child(3){
           
            background-color: #7DAF3F;
           
          
            }
            .realisation:hover>div:nth-child(3)>h3{
                color: #FFFFFF ;
            }
            .realisation:hover>div:nth-child(3)>P{
                color: #FFFFFF ;
            }
        .dots-home{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30%;
        }
        .dots-home>div{
            background-color: #7DAF3F;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 1px solid #B7B7B7;
        }
    .realisation:hover>div:nth-child(2)>img{
       transform: scale(1.1);
    }
    .realisation:hover>div:nth-child(2)>img:nth-child(2){
        display: block;
    }
    .notice{
        margin-top: 131px;
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .notice>div{
        width: 352px;
        height: 352px;
        color: #FFFFFF;
     
       
        margin: 9px 2px;
        position: relative;
        overflow: hidden;
    }
    .notice>div:not(:first-child)>div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        transition: 0.4s;
    }
    .notice>div:first-child>p{
        font-size: 14px;
        margin-bottom: 0px;
        padding-left: 26px;
        padding-right: 40px;
        transition: 0.4s;
    }
    .notice>div:first-child{
       display: block;
       background: #653D36;
       position: relative;
       transition: 0.4s;
       cursor: pointer;
    }
    .notice>div:first-child>h2{
        font-size: 33px;
        color: #7DAF3F;
        line-height: 43px;
        font-weight: 600;
        padding: 71px 120px 35.5px 34px;
        transition: 0.4s;
    }
    .notice>div:first-child>div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        color:#FFFFFF;
        font-size: 16px;
        padding: 37px 50px 35.5px 28px;
        transform: translateY(50px);
        opacity: 0;
        overflow: hidden;
        transition: all 0.4s;
        font-weight: 600;
    }
    .notice>div>div>img{
        position: absolute;
        width: 42px;
        height: 62px;
        display: none;
        transition: all 0.5s;
    }
    .notice>div:hover>div>img{
        display: 
        block;
    }
    .notice>div:first-child:hover>div{
        transform: translateY(0px);
        opacity: 1;
        overflow: visible;
    }
    .notice>div:first-child:hover>h2{
color: #653D36;
transform: translateY(-20px)
    }
    .notice>div:first-child:hover>p{
        transform: translateY(-20px)
    }
    .notice>div:first-child:hover{
        background: #7DAF3F;
        transform: scale(1);
    }
    .notice>div:hover>div{
        transform: scale(1.1);
    }


    .magasin{
        width: 90%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 60% 40%;
        position: relative;
        margin-top: 131px;
        margin-bottom: 130px;
    }
    .magasin>div:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 2;
        height: 480px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .magasin>div:nth-child(1)>img{
        width: 100%;
        height: 100%;
        transition: all 1s;
    }
    .magasin>div:nth-child(1)>img:nth-child(2){
        position: absolute;
        width: 42px;
        height: 62px;
        display: none;
        transition: all 0.5s;
    }
    .magasin>div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .magasin>div:nth-child(2)>h2{
        font-size: 33px;
        font-weight: 600;
        color: #1F1F1F;
        margin-left: 40px;
    }
    .magasin>div:nth-child(3){
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
    right: 0px;
    top: 67px;
    width: 55%;
    height: 385px;
    overflow: hidden;
    cursor: pointer;
    }
    .magasin>div:nth-child(3)>img{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 65%;
        transition: all 0.4s;
    }
    .magasin>div:nth-child(3)>p{
margin: 0px;
font-size: 14px;
color:#6F6C6C;
position: absolute;
top:70%;
padding: 0px 40px;
transition: all 0.4s;
    }
    .magasin>div:nth-child(3)>div{
        font-size: 16px;
        color:#7DAF3F;
        position: absolute;
        top:105%;
        padding: 0px 40px;
        transition: all 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        font-weight: 600;
            }
    .magasin:hover>div:nth-child(3)>img{
transform: translateY(-20%);
    }
    .magasin:hover>div:nth-child(3)>p{
        top:60%;
            }
            .magasin:hover>div:nth-child(3)>div{
top:85%;
opacity: 1;
            }
    
    .magasin:hover>div:nth-child(1)>img{
        transform: scale(1.1);
     }
     .magasin:hover>div:nth-child(1)>img:nth-child(2){
         display: block;
     }
    


@media screen and (max-width:1100px){
    .img-green{
       display: none;
        }
    .config:hover .img-brown{
         display: none;
             }
    .config>div:nth-child(1){
        padding-right: 30%;
            }
}
@media screen and (max-width:991px){
    .realisation{
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
      grid-template-areas:  "titre" "pic" "text";
        position: relative;
       
    }
    .realisation>div:nth-child(1){
        grid-area: titre;
    }
    .realisation>div:nth-child(2){
        grid-area: pic;
        height: 350px;

    }
    .realisation>div:nth-child(3){
        position: static;
        grid-area: text;
        width: 100%;
        height: 350px;
        padding: 45px 10% 62px 10%;
    }
    .realisation>div:nth-child(3)>div:nth-child(4){
        width: 30%;
    }
    .realisation>div:nth-child(1)>h2{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
       
    }
    .realisation>div:nth-child(2)>img:nth-child(2){
        width: 35px;
        height: 50px;
    }
    .config{
        margin-bottom: 60px;
    }
    .notice{
        margin-top: 60px;
    }
    
    .magasin{
        width: 80%;
        margin-left: 10%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
      grid-template-areas:  "titre" "pic" "text";
        position: relative;
        margin-top: 60px;
       
    }
    .magasin>div:nth-child(1){
        /* grid-area: pic;
        height: 350px; */
        display: none;
    }
    .magasin>div:nth-child(2){
        grid-area: titre;
    }
    .magasin>div:nth-child(3){
        position: relative;
        grid-area: pic;
        width: 100%;
        height: 350px;
        top:0px
    }
    .magasin>div:nth-child(2)>h2{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 0px;
       
    }
    .magasin>div:nth-child(1)>img:nth-child(2){
        width: 35px;
        height: 50px;
    }
}
@media screen and (max-width:849px){
    .config>div:nth-child(2)>h3{
       
        font-size: 22px;
    
    }
    .config>div:nth-child(2)>p{
        color:#FFFFFF;
        font-size: 16px;
        
    }
    .config>div:nth-child(1)>img{
        width: 60px;
        height: 40px;
    }
}
@media screen and (max-width:660px){
    .config{
        padding: 25px 0px;
    }
    .config>div:nth-child(2)>h3{
       
        font-size: 18px;
    
    }
    .config>div:nth-child(2)>p{
        color:#FFFFFF;
        font-size: 14px;
        
    }
    .config>div:nth-child(1)>img{
        width: 40px;
        height: 30px;
    }
    .realisation>div:nth-child(3)>div:nth-child(4){
        width: 40%;
    }
    .magasin>div:nth-child(3)>p{
        padding: 0px 10%;
    }
    .magasin:hover>div:nth-child(3)>p{
        padding: 0px 10%;
        top: 57% !important;
    }
}
@media screen and (max-width:450px){
    .config{
        padding: 20px 0px;
        margin-left: 0px;
        width: 100%;
    }
    .config>div:nth-child(2)>h3{
       
        font-size: 16px;
    
    }
    .config>div:nth-child(2)>p{
        color:#FFFFFF;
        font-size: 12px;
        
    }
    .config>div:nth-child(1)>img{
        width: 40px;
        height: 30px;
    }
    .realisation{
        width: 100%;
        margin-left: 0px;
    }
    .realisation>div:nth-child(3){
        position: static;
        grid-area: text;
        width: 100%;
        height: 350px;
        padding: 35px 5% 62px 5%;
    }
    .magasin{
        margin-left: 0px;
        width: 100%;
    }
}
@media screen and (max-width:499px){
    .home-map{
        justify-content: center;
    }
    .home-map>div{
        width: 70vw;
        height: 60vw;
    }
}
@media screen and (max-width:889px){
    .notice{
        justify-content: center;
    }
}
@media screen and (max-width:455px){
    .notice{
        justify-content: center;
    }
    .notice>div{
        width: 78vw;
        height: 78vw;
    }
    .notice>div:first-child>h2{
        font-size: 25px;
        padding: 20% 80px 5% 20px
    }
}
@media screen and (max-width:400px){
    .notice>div:first-child>h2{
        font-size: 22px;
        padding: 20% 80px 5% 20px;
        line-height:30px
    }

}
@media screen and (max-width:365px){
    .notice>div:first-child>div{
        padding-top: 0%;
    }
    .notice>div:first-child>p{
        padding-right: 10%;
    }
    
    
}
@media screen and (max-width:325px){
    .notice>div:first-child>h2{
        
        padding: 10% 0px 5% 20px;
        line-height:30px
    }
    
}