.navb{
    margin: 0px;
   position:fixed;
   top:0px;
   z-index:10;
   transition: all 0.4s linear;
width: 100%;
/* box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75); */
background:  #FFFFFF;
height: 70px;
}
.navb>div:first-child{
    display: grid;
    grid-template-columns: 30% 30% 15% 15% 10%;
    width: 100%;
    height: 70px;
}
.first{
    grid-column-start: 1;
    grid-column-end: 2;
}
.second{
    grid-column-start: 2;
    grid-column-end: 3;
   position: relative;
   border : 1px solid #E2E2E2;
   border-left: none;
   padding: 0px;
   display: flex;
   align-items: center;
   color: #b7b7b7 !important;
}
.second>input{
    width: 100%;
    height: 100%;
    border : none !important;
    outline: none;
    padding-left: 15%;
    padding-right: 2%;
    color: #b7b7b7 !important;
    font-family: PT Sans !important;
    /* font-size: 1.25rem; */
}
.second>i{
    position: absolute;
    left: 5%;
    font-size: 23px;
}
.second ::placeholder{
    color:#b7b7b7 !important
}
.second:hover>input,.second:focus>input{
    padding-left: 5%;
    padding-right: 15%;
}
.second:hover>i,.second:focus>i{
    left:  87%;
}
.navb>div:first-child>:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
    border : 1px solid #E2E2E2;
    border-left: none;
display: flex;
align-items: center;
padding-left: 10%;
color: #4D302B;
cursor: pointer;
}

.navb>div:first-child>:nth-child(3)>img{
    width: 20px;
    height: 28px;
}
.navb>div:first-child>:nth-child(3)>span{
    font-size: 14px;
    margin-left: 5%;
}
.navb>div:first-child>:nth-child(3):hover,.navb>div:first-child>:nth-child(3):focus{
    flex-direction: row-reverse;
    padding-left: 0%;
    padding-right: 10%;
}
.navb>div:first-child>:nth-child(3):hover>span,.navb>div:first-child>:nth-child(3):focus>span{
    margin-right: 15%;
}
.navb>div:first-child>:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 5;
    border : 1px solid #E2E2E2;
    border-left: none;
display: flex;
align-items: center;
padding-left: 10%;
background: #7DAF3F;
color: #FFFFFF;
cursor: pointer;
}

.navb>div:first-child>:nth-child(4)>img{
    width: 32px;
    height: 21px;
}
.navb>div:first-child>:nth-child(4)>span{
    font-size: 16px;
    margin-left: 5%;
}
.navb>div:first-child>:nth-child(4):hover,.navb>div:first-child>:nth-child(3):focus{
    flex-direction: row-reverse;
    padding-left: 0%;
    padding-right: 10%;
    background: #4D302B
}
.navb>div:first-child>:nth-child(4):hover>span,.navb>div:first-child>:nth-child(3):focus>span{
    margin-right: 15%;
}
.navb>div:first-child>:nth-child(5){
    grid-column-start: 5;
    grid-column-end: 6;
    border : 1px solid #E2E2E2;
    border-left: none;
}
.navb>div:last-child{
    display: grid;
    grid-template-columns:  25% 25% 25% 25% ;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    background:  #FFFFFF;
}
.navb>div:last-child div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 1;
    grid-column-end: 2;
    border : 1px solid #E2E2E2;
    border-top: none;
    cursor: pointer;
}
.navb>div:last-child div:nth-child(1):hover{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 2;
    grid-column-end: 3;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.navb>div:last-child div:nth-child(2):hover{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 3;
    grid-column-end: 4;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.navb>div:last-child div:nth-child(3):hover{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 4;
    grid-column-end: 5;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.navb>div:last-child div:nth-child(4):hover{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
/* .navb i{
    cursor: pointer;
   
}

.pad{
    padding-left: 80px !important;
    transition: all 0.4s linear;
}
.pad a:hover{
    color:  #E73528 !important ;
}

.second a{
    font-size: 20px;
    color:#5E5E5E;
    font-family: Agency FB;
    font-weight: bold;


}
.second span{
    font-size: 20px;
    color:#5E5E5E;
    font-family: Agency FB;
    font-weight: bold;
cursor: pointer;

}
.second span:hover{
    color: white !important;
    background-color: rgb(204, 40, 40);
    padding: 12px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.second a:hover{
    color: white !important;
    background-color: rgb(204, 40, 40);
    padding: 12px;
    border-radius: 10px;
}
.drop>div{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
z-index: 10;
background-color:   #F0EEEB;
display: flex;
justify-content: flex-end;
align-items: center;
}
.drop li{
border-bottom: 1px solid  #c7c6c6;
padding: 10px;
display: flex;
align-items: center;
text-transform: uppercase;
font-size: 14px;
    font-weight: 600;
    color:  #5E5E5E;
    margin: 0px 5px;
}
.drop{
    text-underline-offset: 2px;
    margin: 0px 25px;
   
}
.drop i{
    font-size: 16px;
    margin-left: 3px;
}
.ul_drop span{
    color:  #5E5E5E;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.ul_drop>li>a{
    color:  #5E5E5E;
    font-weight: 600;
    font-size: 15px;
}
.ul_drop span:hover{
    color:  #E73528 !important ;
}

.ul_drop{
    line-height: 25px;
} */
/* .navb>div:first-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.navb>div:first-child>p{
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 13px;
    font-family:  Century Gothic


}
.navb>div:first-child img{

    width: 13px;
    height: 13px;
    margin: 0px 5px;

} */

/* @media screen and (max-width:400px){
    .img_vib{
        width: 90px !important;
        height: 25px !important;
    }
}
@media screen and (max-width:550px){
    .pad{
        padding-left: 20px !important;
    }
    .navb>div:first-child>p{
        font-size: 8px;
    }
} */