.navb{
    margin: 0px;
   position:fixed;
   top:0px;
   z-index:10;
   transition: all 0.4s linear;
width: 100%;
}
.navb>div:first-child{
    display: grid;
    grid-template-columns: 30% 30% 15% 15% 10%;
    width: 100%;
    height: 70px;
    background:  #FFFFFF;
}
.first{
    grid-column-start: 1;
    grid-column-end: 2;
}
.second{
    grid-column-start: 2;
    grid-column-end: 3;
   position: relative;
   border : 1px solid #E2E2E2;
   border-left: none;
   padding: 0px;
   display: flex;
   align-items: center;
   color: #b7b7b7 !important;
   transition: all 0.4s;
}
.second>input{
    width: 100%;
    height: 100%;
    border : none !important;
    outline: none;
    padding-left: 15%;
    padding-right: 2%;
    color: #b7b7b7 !important;
    font-family: PT Sans !important;
    /* font-size: 1.25rem; */
    transition: all 0.4s;
}
.second>i{
    position: absolute;
    left: 5%;
    font-size: 23px;
    
}
.second ::placeholder{
    color:#b7b7b7 !important
}
.second:hover>input,.second:focus>input{
    padding-left: 5%;
    padding-right: 15%;
}
.second:hover>i,.second:focus>i{
    left:  87%;
    transition: all 0.4s;
}
.navb>div:first-child>:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
    border : 1px solid #E2E2E2;
    border-left: none;
display: flex;
align-items: center;
padding-left: 10%;
color: #4D302B;
cursor: pointer;
transition: all 0.4s;
}

.navb>div:first-child>:nth-child(3)>img{
    width: 20px;
    height: 28px;
}
.navb>div:first-child>:nth-child(3)>span{
    font-size: 14px;
    margin-left: 5%;
}
.navb>div:first-child>:nth-child(3):hover,.navb>div:first-child>:nth-child(3):focus{
    flex-direction: row-reverse;
    padding-left: 0%;
    padding-right: 10%;
}
.navb>div:first-child>:nth-child(3):hover>span,.navb>div:first-child>:nth-child(3):focus>span{
    margin-right: 15%;
}
.navb>div:first-child>:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 5;
    border : 1px solid #E2E2E2;
    border-left: none;
display: flex;
align-items: center;
padding-left: 10%;
background: #7DAF3F;
color: #FFFFFF;
cursor: pointer;
transition: all 0.4s;
}

.navb>div:first-child>:nth-child(4)>img{
    width: 32px;
    height: 21px;
}
.navb>div:first-child>:nth-child(4)>span{
    font-size: 16px;
    margin-left: 5%;
}
.navb>div:first-child>:nth-child(4):hover,.navb>div:first-child>:nth-child(3):focus{
    flex-direction: row-reverse;
    padding-left: 0%;
    padding-right: 10%;
    background: #4D302B
}
.navb>div:first-child>:nth-child(4):hover>span,.navb>div:first-child>:nth-child(3):focus>span{
    margin-right: 15%;
}
.navb>div:first-child>:nth-child(5){
    grid-column-start: 5;
    grid-column-end: 6;
    border : 1px solid #E2E2E2;
    border-left: none;
}
.navb>div:last-child{
    display: grid;
    grid-template-columns:  25% 25% 25% 25% ;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    background:  #FFFFFF;
}
.navb>div:last-child div:nth-child(1)>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 1;
    grid-column-end: 2;
    border : 1px solid #E2E2E2;
    border-top: none;
    cursor: pointer;
    height: 100%;
}
.navb>div:last-child div:nth-child(1):hover>span{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(2)>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 2;
    grid-column-end: 3;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
    height: 100%;
}
.navb>div:last-child div:nth-child(2):hover>span{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(3)>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 3;
    grid-column-end: 4;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
    height: 100%;
}
.navb>div:last-child div:nth-child(3):hover>span{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.navb>div:last-child div:nth-child(4)>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1F1F1F;
    grid-column-start: 4;
    grid-column-end: 5;
    border : 1px solid #E2E2E2;
    border-left: none;
    border-top: none;
    cursor: pointer;
    height: 100%;
}
.navb>div:last-child div:nth-child(4):hover>span{
    color: #FFFFFF;
    background-color: #7DAF3F;
}
.drop-list>div:first-child{
   background-size: cover !important;
   background-repeat: no-repeat !important;
   height: 215px;
  
}
.drop-list>div:first-child>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;

}
.drop-list>div:first-child li{
    width: 100%;
    text-align: center;
    padding: 7px;
}
.drop-list>div:first-child a{
    text-align: center;
font-size:  16px;
letter-spacing: 0px;
color: #FFFFFF;
}
.drop-list>div:first-child li:hover{
    background: #4D302B;
}
.drop-list>div:last-child{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7DAF3F;
    color: #FFFFFF;
    width: 100%;
}
.drop-list-contact>div:first-child{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 215px;
   
 }
 
 .drop-list-contact>div:first-child>p{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #FFFFFF;
     font-size: 16px;
     margin: 0px;
 }
 .drop-list-contact>div:last-child{
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #7DAF3F;
     color: #FFFFFF;
     width: 100%;
     cursor: pointer;
 }
 .drop-list-contact>div:nth-child(2){
     background: #FFFFFF;
     padding: 20px 20px;
     padding-bottom: 3px;
 }
 .drop-list-contact>div:nth-child(2)>p{
     color:#4D302B;
     font-size: 12px;
     font-weight: 500;
 }
 .drop-list-contact>div:nth-child(2) input{
     border: none;
     border-bottom: 1px solid #ced4da;
     font-size: 12px;
     color: #1F1F1F;
     padding-left: 0px;
 }
 .drop-list-contact>div:nth-child(2) input:focus{
    border-color: #7DAF3F !important;
    box-shadow: none;
}
.drop-list-contact>div:nth-child(2) textarea:focus{
    border-color: #7DAF3F !important;
    box-shadow: none;
}
 .drop-list-contact>div:nth-child(2)>form{
     font-size: 12px;
     color: #b7b7b7;
 }
 .navb-small{
    margin: 0px;
    position:fixed;
    top:0px;
    z-index:10;
    transition: all 0.4s linear;
 width: 100%;
 box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
 }
 .nav-mobile{
    display: grid;
    grid-template-columns: 40% 30% 30% ;
    width: 100%;
    background:  #FFFFFF;
 }
 .first-small{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
   
 }
 .first-small img{
    width: 168px;
     height: 20px
 }
 .nav-mobile>div:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
   padding: 0px;
   padding-left: 5%;
   display: flex;
   align-items: center;
   color: #b7b7b7 !important;
   font-size: 20px;
   height: 70px;
 }
 .nav-mobile>div:nth-child(2)>i{
     cursor: pointer;
 }
 .nav-mobile>div:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
   padding: 0px;
   padding-left: 5%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   color: #b7b7b7 !important;
   font-size: 20px;
   padding-right: 20px;
   height: 70px;
 }
 .nav-mobile>div:nth-child(3)>i{
     cursor: pointer;
 }
 .nav-mobile>.drop{
    grid-column-start: 1;
    grid-column-end: 4;
   padding: 0px;
   padding-left: 6%;
   color: #b7b7b7 !important;
   font-size: 20px;
   margin-bottom: 15px;
    line-height: 30px;
   
 }
.ul_drop{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: #1F1F1F;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

}
.ul_drop a{
    color: #1F1F1F;   
}
.ul_drop span:hover{
    color:#7DAF3F
}
.search-nav{
    grid-column-start: 1;
    grid-column-end: 4;
   padding: 0px;
   color: #b7b7b7 !important;
   font-family: PT Sans !important;
}

.search-nav>input{
    border : none !important;
    outline: none;
    padding-left: 6%;
    padding-right: 2%;
    height: 50px;
    width: 100%;
}
.collapse-ul a:hover{
    color:#7DAF3F !important
}
@media screen and (max-width:550px){
    .nav-mobile{
        grid-template-columns: 50% 25% 25% ;
    }
    .first-small img{
        width: 120px;
         height: 20px
     }
     .nav-mobile>div:nth-child(2){
         font-size: 18px;
     }
     .nav-mobile>div:nth-child(3){
         font-size: 18px;
     }
} 
@media screen and (max-width:1125px){
    .navb>div:first-child>:nth-child(4):hover>span,.navb>div:first-child>:nth-child(3):focus>span{
        margin-right: 5%;
    }
    .navb>div:first-child>:nth-child(4):hover,.navb>div:first-child>:nth-child(3):focus{
        padding-right: 8%;
    }
}
