*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth
}


body {
  margin: 0;
    font-family: PT Sans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 200vh;
}

